<form action="/register" method="POST">
  <input type="hidden" name="userId" value="{{userId}}" />
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" />
  </div>
  <button>Register</button>
</form>