<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
</head>

<body>
  <form action="/register" method="POST">
    <input type="hidden" name="userId" value="{{userId}}" />
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" />
    </div>
    <button>Register</button>
  </form>
</body>

</html>