<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>

<body>
  <h3>Registration Complete</h3>
  <div>
    <a href="/login">Click Here To Login</a>
  </div>
</body>

</html>